html, body {
    color:black;
    font-family: 'Arial', sans-serif;
    background-color:linen; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right, lightblue, white); */
}

.parent {
    text-align: center;
    /* grid-template-rows: 10% 10% 50% 15%; */
    background-color: white;
    margin: 7%;
    padding: 10px 5px;
    border-radius: 10px;
}


#title{
    margin-top: 2.5%;
}

#location {
    margin: 3%;
}


#temperature {
    font-size: 700%;
    margin: 1% 0;
    display: inline-block;
}

#toggleButton {
    width: 75px;
    font-size: 300%;
    border-radius: 10px;
    color: white;
    background-color: black;
    display: inline-block;
    border-style: none;
}

#toggleButton:hover {
    background-color: rgb(90, 88, 88);
}

.icon_and_weather {
    display: flex;
    justify-content: center;
}

#icon {
    padding: 15px;
    display: inline-block;
}

#weather {
    display: inline-block;
}

.temp_min_max {
    display: inline-flex;
}

#footer {
    font-size: smaller;
    color: gray;
    margin-top: 40px;
}